    <section class="listComments">

        <h2>Gérer les commentaires</h2>

        <table>
            <thead>
                <tr>
                    <th>Date de création</th>
                    <th>Id de l'article</th>
                    <th>Auteur</th>
                    <th>Titre</th>
                    <th>Commentaire</th>
                    <th>Statut</th>
                    <th>Modifier le statut</th>
                </tr>
            </thead>
            <tbody> 
                {% for comment in allComments %}
                    <tr>
                        <td> {{ comment.date_created }} </td>
                        <td> {{ comment.post_id }} </td>
                        <td> "{{ comment.author }}" (identifiant: {{comment.user_id}})</td>
                        <td> {{ comment.title }} </td>
                        <td> {{ comment.content }} </td>
                        <td>
                            {% if comment.approved is same as(null) %}
                                EN ATTENTE
                            {% endif %}
                            {% if comment.approved is same as(0) %}
                                refusé 
                                <a href="index.php?access=comment!deletecomment&id={{comment.id}}" title="DeleteComment">Supprimer ce commentaire </a>
                            {% endif %}
                            {% if comment.approved is same as(1) %}
                                approuvé
                            {% endif %}
                        </td>
                        <td>
                            <form method="post" action="index.php?access=comment!approvecomment&id={{comment.id}}">
                                <fieldset>
                                    <input type="radio" name="approve" value="1">
                                    <label for="approve">Approuver</label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="approve" value="0">
                                    <label for="approve">Refuser</label>
                                </fieldset>
                                <fieldset class="btn-fieldset">
                                    <input class="btn" type="submit" value="Envoyer">
                                </fieldset>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>