    <section class="listComments">

        <h2>Gérer les commentaires</h2>

        <table>
            <thead>
                <tr>
                    <th class="date">Date de création</th>
                    <th class="id">Id de l'article</th>
                    <th class="date">Auteur</th>
                    <th>Titre</th>
                    <th>Commentaire</th>
                    <th class="date">Statut</th>
                    <th class="date">Modifier le statut</th>
                </tr>
            </thead>
            <tbody> 
                {% for comment in allComments %}
                    <tr>
                        <td> {{ comment.date_created }} </td>
                        <td> {{ comment.post_id }} </td>
                        <td> "{{ comment.author }}"
                            </br>
                            (id: {{comment.user_id}})</td>
                        <td> {{ comment.title }} </td>
                        <td> {{ comment.content }} </td>
                        <td>
                            {% if comment.approved is same as(null) %}
                                EN ATTENTE
                            {% endif %}
                            {% if comment.approved is same as(0) %}
                                refusé 
                                </br>
                                <a href="index.php?access=comment!deletecomment&id={{comment.id}}" title="DeleteComment">supprimer</a>
                            {% endif %}
                            {% if comment.approved is same as(1) %}
                                approuvé
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a href="index.php?access=comment!approvecomment&id={{comment.id}}&approve=1">approuver</a>
                                </li>
                                <li>
                                    <a href="index.php?access=comment!approvecomment&id={{comment.id}}&approve=0">refuser</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>