<section class="listUsers">
        
        <h2>GERER LES UTILISATEURS inscrit(e)s sur le site</h2>

        <table>
            <thead>
                <tr>
                    <th colspan="5">Comptes créés sur ce site</th>
                </tr>
            </thead>
            <tbody>
                <tr class="ligne1"> 
                    <td><strong>Date de création</strong></td>
                    <td><strong>Identifiant</strong></td>
                    <td><strong>Nom</strong></td>
                    <td><strong>E-mail</strong></td>
                    <td><strong>Supprimer le compte</strong></td>
                </tr>
                    {% for user in allUsers %}
                        <tr>
                            <td> {{ user.date_created }} </td>
                            <td> {{ user.id }} </td>
                            <td> {{ user.name }} </td>
                            <td> {{ user.email }} </td>
                            <td> Supprimer
                                <a href="index.php?access=user!deleteuser&id={{user.id}}" title="DeleteUser">
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>

</main>