<section class="listUsers">
        
        <h2>Liste des comptes créés sur ce site</h2>

        <table>
            <thead>
                <tr> 
                    <th>Date de création</th>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for user in allUsers %}
                    <tr>
                        <td> {{ user.date_created }} </td>
                        <td> {{ user.id }} </td>
                        <td> {{ user.name }} </td>
                        <td>
                            <a href="mailto:{{ user.email }}">
                                {{ user.email }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

</section>