{% extends "layout/layout.twig" %}

{% block title %}Les commentaires{% endblock %}

{% block description %}Page listant tous les commentaires du site{% endblock %}

{% block main %}
    <main id="listComments">

        <section>
            <h2>Liste des commentaires :</h2>

            <ul class="commentInList">
                {% for comment in allComments %}
                    <li> {{ comment.date_created }} 
                    <li> <em> {{ comment.title }} </em> </li>
                    <li> {{ comment.content }} </li>
                    <li> Auteur :{{ author }} </li>
                    <li> Article : {{ post.title }} </li>
                    <li> <strong> statut du commentaire : {{comment.approved}} </strong></li>
                    
                    <li>
                        <form method="post" action="index.php?access=comment!approvecomment&id={{comment.id}}">
                            <fieldset>
                                <input type="radio" name="approve" value="1">
                                <label for="approve">approuver le commentaire</label><br>

                                <input type="radio" name="approve" value="2">
                                <label for="approve">refuser le commentaire</label><br>
                                
                                <input type="submit" value="Envoyer">
                            </fieldset>
                        </form>
                    </li>

                {% endfor %}
            </ul>
        </section>

    </main>
{% endblock %}