{% extends "layout/layout.twig" %}

{% block title %}Les commentaires{% endblock %}

{% block description %}Page listant tous les commentaires du site{% endblock %}

{% block main %}
    <main id="listComments">

        <section>
            <h2>Liste des commentaires :</h2>

            <ul class="commentInList">
                {% for comment in allComments %}
                    <li>Date de création: {{ comment.date_created }} 
                    <li>Titre: <em>{{ comment.title }} </em> </li>
                    <li>Commentaire: {{ comment.content }} </li>
                    <li> Auteur : {{ comment.author }} (identifiant: {{comment.user_id}})</li>
                    <li> Identifiant de l'article : {{ comment.post_id }} </li>
                    
                    {% if comment.approved is same as(null) %}
                        <li> <strong> statut: EN ATTENTE </strong></li>
                    {% endif %}

                    {% if comment.approved is same as(0) %}
                        <li> <strong> statut: refusé </strong></li>
                        <li> <a href="index.php?access=comment!deletecomment&id={{comment.id}}" title="DeleteComment">Supprimer ce commentaire </a> </li>
                    {% endif %}

                    {% if comment.approved is same as(1) %}
                        <li> <strong> statut: accepté </strong></li>
                    {% endif %}

                    <li>
                        <form method="post" action="index.php?access=comment!approvecomment&id={{comment.id}}">
                            <fieldset>Modifier le statut :
                                <input type="radio" name="approve" value="1">
                                <label for="approve">approuver le commentaire</label><br>

                                <input type="radio" name="approve" value="0">
                                <label for="approve">refuser le commentaire</label><br>
                                
                                <input type="submit" value="Envoyer">
                            </fieldset>
                        </form>
                    </li>

                {% endfor %}
            </ul>
        </section>

    </main>
{% endblock %}