{% extends "layout/layout.twig" %}

{% block title %}Article du blog{% endblock %}

{% block description %}Page d'un article de blog{% endblock %}

{% block main %}
    <main id="post">

        <section>
            <h2>{{ post.title }} </h2>

            <p><str>par {{ author.name }} <str></p>
            <p><em>créé le : {{ post.date_created }} </em></p>
            <p><em>modifié le : {{ post.date_updated }} </em></p>

            <p> {{ post.intro }} </p>
            <p> {{ post.content }} </p>
            <p> <a href="index.php?access=post!deletePost&id={{post.id}}" title="DeletePost"> supprimer l'article </a> </p>
            <p> <a href="index.php?access=post!updatepostform&id={{post.id}}" title="UpdatePost"> modifier l'article </a> </p>
        </section>

        <section>
            <h2>Commentez cet article :</h2>
            <form method="post" action="index.php?access=comment!createcomment&id={{post.id}}">Saisissez vos informations:
                <label for="author">nom ou pseudo: </label>
                <input type="text" name="author">

                <label for="title">titre: </label>
                <input type="text" name="title">

                <label for="content">commentaire: </label>
                <textarea name="content"></textarea>
                    
                <input type="submit" value="Envoyer">
            </form>
        </section>

        <section>
            <h2>Tous les commentaires sur cet article:</h2>
            <ul class="commentsInPost">
                {% for comment in allComments %}
                    {% if (comment.approved is same as(1)) %}
                        <li> <h3> {{ comment.title }} </h3> </li>
                        <li> par {{ comment.author }} </li>
                        <li> créé le : {{ comment.date_created }} </li>
                        <li> {{ comment.content }} </li>
                        <li> <a href="index.php?access=comment!deletecomment&id={{comment.id}}" title="DeleteComment">Supprimer ce commentaire </a> </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

        </section>


    </main>
{% endblock %}