{% extends 'layout/layout.twig' %}

{% block title %}Un article{% endblock %}

{% block description %}Page d'un article de blog{% endblock %}

{% block main %}
    <main id="post">

        <section>
            <h2>{{ post.title }} </h2>

            <p><str>par {{ post.user_id }} <str></p>
            <p><em>créé le : {{ post.date_created }} </em></p>
            <p><em>modifié le : {{ post.date_updated }} </em></p>

            <p> {{ post.intro }} </p>
            <p> {{ post.content }} </p>
            <p> <a href="index.php?access=post!postdelete&id={{post.id}}" accesskey="dp" title="DeletePost"> supprimer l'article </a> </p>
            <p> <a href="index.php?access=post!updatepostform&id={{post.id}}" accesskey="up" title="UpdatePost"> modifier l'article </a> </p>
        </section>

        <section>
            <h2>Test de la session : </h2>
            <p>la session est : {{ session }}</p>
        </section>

                <section>
            <h2>CREER UN COMMENTAIRE POUR CET ARTICLE :</h2>
            <p>post id: {{post.id}}</p>
            <form method="post" action="index.php?access=comment!commentcreate&id={{post.id}}">Saisissez votre commentaire :
                <label for="title">Saisissez un titre : </label>
                <input type="text" name="title">

                <label for="content">Saisissez votre texte : </label>
                <textarea name="content"></textarea>
                    
                <input type="submit" value="Envoyer">
            </form>

        </section>

        <section>
            <h2>LIRE TOUS LES COMMENTAIRES DE CET ARTICLE :</h2>
        </section>


    </main>
{% endblock %}