{% extends "layout/layout.twig" %}

{% block title %}Les articles{% endblock %}

{% block description %}Page listant tous les articles du blog{% endblock %}

{% block main %}
    <main id="postslist">

        <section>
            <h2>Liste des articles :</h2>

            <p>Voici la liste de tous les articles publiés :</p>
            <ul class="postInList">
                {% for post in allPosts %}
                    <li> <h3> {{ post.title }} </h3> </li>
                    <li> par {{ post.user_id }} </li>
                    <li> créé le : {{ post.date_created }} </li>
                    <li> modifié le :{{ post.date_updated }} </li>
                    <li> <em> {{ post.intro }} </em> </li>
                    <li> <a href="index.php?access=post!singlepost&id={{post.id}}" accesskey="p" title="Post"> vers l'article entier </a> </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Créer un article</h2>
            <p> <a href="index.php?access=post!createpostform" accesskey="cpf" title="Post"> créer un article </a> </p>
        </section>

    </main>
{% endblock %}