{% extends "layout/layout.twig" %}

{% block title %}Article du blog{% endblock %}

{% block description %}Page d'un article de blog{% endblock %}

{% block main %}
    <main id="post">

        <section>

            <h2>{{ post.title }} </h2>

            <article>
                <p> 
                    <strong>par {{ author.name }}</strong>
                </p>
                <p>
                    <em>créé le: {{ post.date_created|date("d/m/Y") }}
                        </br>
                        modifié le: {{ post.date_updated|date("d/m/Y") }}
                    </em>
                </p>
                <p class="postIntro">{{ post.intro }}</p>
                <p>
                    <i class="fa-solid fa-feather-pointed fa-2x"></i>
                </p>
                <p class="postContent">{{ post.content }}</p>
            </article>

        </section>

        <section>
        
            <h2>Commentez cet article:</h2>

            <form method="post" action="index.php?access=comment!createcomment&id={{post.id}}">
                <fieldset>
                    <label for="content">commentaire: </label>
                    <textarea name="content"></textarea>
                </fieldset>
                <fieldset class="btn-fieldset">
                    <input class="btn" type="submit" value="Envoyer">
                </fieldset>
            </form>

        </section>

        <section>

            <h2>Tous les commentaires sur cet article:</h2>

            <ul class="commentsInPost">
                {% for comment in allComments %}
                    {% if (comment.approved is same as(1)) %}
                        <li>
                            <p> {{ comment.date_created|date("d/m/Y")  }} </p>
                            <p> <strong>par {{ comment.name }} </strong></p>
                            <p> {{ comment.content }} </p>
                            <p> 
                                <a href="index.php?access=comment!deletecomment&id={{comment.id}}" title="DeleteComment">
                                    supprimer ce commentaire
                                </a>
                            </p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

    </main>
{% endblock %}