{% extends "layout/layout.twig" %}

{% block title %}Bonjour, {{user.name}}!{% endblock %}

{% block description %}Page de profil U{% endblock %}

{% block main %}
    <main id="profile">

        <section>

            <h2>Voici tes informations enregistrées:</h2>

            <article>
                <p>ton e-mail = {{user.email}}</p>
                <p>la date de création de ton compte = {{user.date_created}}</p>
            </article>
        
        </section>

        <section>

            <h2>Gérer ton compte:</h2>
        
            <ul>
                <li>
                    <a href="index.php?access=user!updateuserform&id={{user.id}}" title="UpdateUser">
                    Modifier le profil</a>
                </li>
                <li>
                    <a href="index.php?access=user!deleteuser&id={{user.id}}" title="DeleteUser">
                    Supprimer le compte </a>
                </li>
            </ul>
        
        </section>
        
    </main>
{% endblock %}